[submodule "themes/vno-hugo"]
	path = themes/vno-hugo
	url = https://github.com/xslingcn/vno-hugo.git
[submodule "themes/ga-hugo-theme"]
	path = themes/ga-hugo-theme
	url = https://github.com/giraffeacademy/ga-hugo-theme.git
